<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <form action="/calculadora" method="POST">
        <label for="inpt1">Valor 1</label>
        <input type="text" name="inpt1">
        <label for="inpt2">Valor 2</label>
        <input type="text" name="inpt2">
        <label for="inpt3">Operação</label>
        <input type="text" name="inpt3">
        <input type="submit" name="enviar">
    </form>
    <form>
        {%if total%}
        <p>Resultado: {{total}}</p>
        {%endif%}
    </form>
</body>
</html>